<!--Hereda de base, al heredar permite reescribir los bloques del archivo del que hereda.-->
{% extends "menuEmpleado.html"%}

<title>{% block title %}Actualizar Empleado{% endblock %}</title>

<!--Mete la etiqueta p en el bloque definido en base.-->
{% block content %}  
<div>
    <br>
    <h3 align="center"> Actualizar Empleado</h3>  
    <h2 align="center">Marque las casillas que desea incluir como filtros</h2>  
    <form  id="upload-form" action="{{ url_for('cli.actualizarEmp') }}" method="POST" enctype="multipart/form-data"><!--Envia request a la ruta registrarse-->
        <div class="form-group">
            <input  type="checkbox" name="nombreCheck" class="form-check-input" id="nombreCheck">
            <label for="nombre"> Nombre </label>
            <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                name="nombre" 
                placeholder={{resultado.nombreEmpleado}}>
        </div>
        <!--Apellido 1-->
        <div class="form-group">
            <input  type="checkbox" name="apellido1Check" class="form-check-input" id="apellido1Check">
            <label for="apellido1"> Primer apellido</label>
            <input 
                type="text" 
                class="form-control" 
                id="apellido1" 
                name="apellido1" 
                placeholder={{resultado.apellido1}}>
        </div>
        <!--Apellido 2-->
        <div class="form-group">
            <input  type="checkbox" name="apellido2Check" class="form-check-input" id="apellido2Check">
            <label for="apellido2"> Segundo apellido</label>
            <input 
                type="text" 
                class="form-control" 
                id="apellido2" 
                name="apellido2" 
                placeholder={{resultado.apellido2}}>
        </div>
        <!--Cedula-->
        <div class="form-group">
            <input  type="checkbox" name="cedulaCheck" class="form-check-input" id="cedulaCheck">
            <label for="cedula"> Cedula</label>
            <input 
                type="text" 
                class="form-control" 
                id="cedula" 
                name="cedula" 
                placeholder={{resultado.cedula}}>
        </div>
        <!--Correo electronico-->
        <div class="form-group">
            <input  type="checkbox" name="correoCheck" class="form-check-input" id="correoCheck">
            <label for="correo"> Correo electronico</label>
            <input 
                type="email" 
                class="form-control" 
                id="correo" 
                name="correo" 
                placeholder={{resultado.correo}}>
        </div>
        <!--Celular-->

        <div style = "width: 88%; margin-block: 2%; " class="input-group">
            <input  type="checkbox" name = "sucursalCheck" class="form-check-input" id="sucursalCheck">
            <span class="input-group-addon">Seleccione la sucursal: '</span>
                <select name="sucursalSeleccionada" class="selectpicker form-control">
                {% for s in sucursales %}
                <option value="{{s}}">{{s.nombreSucursal}}</option>
                {% endfor %}
                </select>
        </div>
        <br>
        <div style = "width: 88%; margin-block: 2%;" class="input-group">
            <input  type="checkbox" name="puestoCheck" class="form-check-input" id="puestoCheck">
            <span class="input-group-addon"> Seleccione el puesto:         '</span>
            <select name="puestoSeleccionado" class="selectpicker form-control">
            {% for c in puestos %}
            <option value="{{c}}">{{c.nombrePuesto}}</option>
            {% endfor %}
            </select>
        </div>    
        <!--Contraseña-->
        <br>

        </div>

        </script>
        <input  type="checkbox" name="fotoCheck" class="form-check-input" id="fotoCheck">
        <strong>Foto:</strong><br><br>
        <input id="file" type="file" name="file" accept="image/*" multiple>
        <div  style="width: 100%;height: 40px; text-align: center;" id="msg"></div>


        <script>
        $("#file1").change(function(){

            var input = document.getElementById('file1');

            for (var i=0; i<input.files.length; i++)
            {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

                if ((ext == 'jpg') || (ext == 'png')){
                    $("#msg").text("La imagen es soportada")
                }
                else{
                    $("#msg").text("La imagen no es soportada")
                    document.getElementById("file1").value ="";
                }
            }

        } );
        </script>

    <br>
    <button type="submit" style = "  margin-right: 30%; margin-top: 3%; text-align: center; margin-bottom: 100px;"  class="btn btn-primary"> Actualizar Empleado </button>
</form>
</div>
{% endblock %}

