{% extends "base.html"%}
<title>{% block title %}Buscar producto{% endblock %}</title>
{% block content %}  
<a href="/" style = "width: 15%; margin-left: 85%; margin-top: 4%; margin-bottom: 2%;" class="btn btn-primary btn-sm" tabindex="-1" role="button" >Regresar</a>
    <h2 style = "margin-bottom: 4%;" align="center">Busqueda de un producto</h2>  
    <form class="form-check" method="POST" action="{{url_for('cli.buscarProducto') }}">
        
        <div class="input-group mb-3">
            <input type="text" class="form-control" name = "productoNombre" laceholder="Recipient's username" aria-label="Nombre del producto" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </div>

    </form>

    {% if productos!=None %}
    <br>
        {% for i in range(length) %}
        <div style = "margin-right: 1%; margin-bottom: 4%;" class="input-group">
                <div class=”about”>
                    <h5 class={{productos[i]}}>id: {{productos[i]['idProducto']}}</h5>
                    <h2 class={{productos[i]}}>{{productos[i]['nombre']}}</h2>
                    <h4 class={{productos[i]}}>{{productos[i]['descripcion']}}</h4>
                    <h5 class={{productos[i]}}>${{productos[i]['precio']}}</h5>
                    {% if pais=='Costa Rica'%}
                        <h5 class={{productos[i]}}>₡{{productos[i]['precioNacional']}}</h5>
                    {%endif%}
                    {% if pais=='Panamá'%}
                        <h5 class={{productos[i]}}>B/.{{productos[i]['precioNacional']}}</h5>
                    {%endif%}
                    {% if pais=='Colombia'%}
                        <h5 class={{productos[i]}}>${{productos[i]['precioNacional']}}</h5>
                    {%endif%}
                    
                    <!--Se muestran las imagenes que esten guardadas -->
                    {% for image_name in image_names%}
                    <div style = "float:left; " class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <img style = "width: 100%;" class="img-responsive" src=" {{url_for('cli.send_image',path=paths[i], filename=image_name)}}">
                    </div>
                    {% endfor %}

                </div>
        </div>
        {% endfor %}
    {%endif%}
      
{% endblock %}