<!--Hereda de base, al heredar permite reescribir los bloques del archivo del que hereda.-->
{% extends "menuEmpleado.html"%}

<title>{% block title %}Ingresar Producto{% endblock %}</title>

<!--Mete la etiqueta p en el bloque definido en base.-->
{% block content %}  
<div>
    <h3 style="padding-top: 5%; padding-bottom: 5%;" style="width: 100%;height: 100px; float: right; text-align: center;" align="center"> Ingresar Producto</h3>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <form id="upload-form" action="{{ url_for('cli.ingresarProducto') }}" method="POST" enctype="multipart/form-data"><!--Envia request a la ruta registrarse-->
        <div class="form-group">
            <label for="nombre"> Nombre </label>
            <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                name="nombre" 
                placeholder="Nombre del producto">
        </div>
        <div class="form-group">
            <label for="descripcion"> Descripción   </label>
            <input 
                type="text" 
                class="form-control" 
                id="descripcion" 
                name="descripcion" 
                float: right
                placeholder="Ingresar la descripción ">
        </div>
        <div class="form-group">
            <label for="idCategoria"> ID Categoría  </label>
            <input 
                type="number" 
                class="form-control" 
                id="idCategoria" 
                name="idCategoria" 
                min="1" >
        </div>
        <div class="form-group">
            <label for="precio"> Precio </label>
            <input 
                type="number" 
                class="form-control" 
                id="precio" 
                name="precio" 
                min="1" >
        </div>
        
            <strong>Fotos:</strong><br>
            <input id="file" type="file" name="file" accept="image/*" multiple>
            <div  style="width: 100%;height: 40px; text-align: center;" id="msg"></div>

            
        <script>
            $("#file1").change(function(){
      
                var input = document.getElementById('file1');
      
                for (var i=0; i<input.files.length; i++)
                {
              //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
                    var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
      
                    if ((ext == 'jpg') || (ext == 'png')){
                        $("#msg").text("La imagen es soportada")
                    }
                    else{
                        $("#msg").text("La imagen no es soportada")
                        document.getElementById("file1").value ="";
                    }
                }
      
            } );

      
      </script>
      
    <div>
        <br>
        <button type="submit" style = "  margin-right: 30%; margin-top: 3%; text-align: center; margin-bottom: 100px;"  class="btn btn-primary"> Ingresar Producto </button>
        <a href="/menuEmpleado" style = "  margin-left: 30%; margin-top:3%; text-align: center; margin-bottom: 100px;" class="btn btn-primary btn-lg" tabindex="-1" role="button" >Regresar</a>

    </div>
        
      
    </form>
   


</div>
{% endblock %}


